* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background: #f8fafc;
  color: #0f172a;
}

.hero {
  width: 100%;
  height: 280px;
  background: linear-gradient(135deg, #d92ff7, #784178);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  text-align: center;
  color: white;
}

.hero h1 {
  font-size: 48px;
  margin: 0;
}

.hero p {
  font-size: 18px;
  opacity: 0.9;
  margin-top: 8px;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(10, 80px);
  grid-template-rows: repeat(10, 120px);
  gap: 6px;
  justify-content: center; 
  align-content: center;
  width: max-content; 
  margin: 0 auto; 
}

.card {
  width: 80px;
  height: 120px;
  background: white;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  font-weight: bold;
}

.cards-player{
display: grid;
  grid-template-columns: repeat(7, 80px);
  grid-template-rows: repeat(7, 120px);
  gap: 6px;
  /* justify-content: center; 
  align-content: center;
  width: max-content; 
  margin: 0 auto;  */
}

.cardp {
    width: 80px;
  height: 120px;
  background: white;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  font-weight: bold;
}

.red { color: red; }
.black { color: black; }

.center {
  position: absolute;
  font-size: 26px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.corner {
  position: absolute;
  font-size: 12px;
}

.top {
  top: 5px;
  left: 5px;
}

.bottom {
  bottom: 5px;
  right: 5px;
  transform: rotate(180deg);
}

