
body {
  background:#5b5f5e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.Title{
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-shadow: 0 4px 10px rgba(0,0,0,0.4);
    font-family: Arial, sans-serif;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 6px;
}

.card {
  width: 70px;
  height: 100px;
  background: white;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  font-weight: bold;
}

.red { color: red; }
.black { color: black; }

.center {
  position: absolute;
  font-size: 26px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.corner {
  position: absolute;
  font-size: 12px;
}

.top {
  top: 5px;
  left: 5px;
}

.bottom {
  bottom: 5px;
  right: 5px;
  transform: rotate(180deg);
}